extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header #{user.username}'s Dashboard
    .row
      .col-xs-5
        .panel.panel-primary
          .panel-heading
            h3.panel-title: a(href='/profile/edit') Edit Profile
          .panel-body
            ul.list-group
              li.list-group-item
                | Email:&nbsp
                a(href='mailto:#{user.email}?Subject=Email%20Message%20from%20Dibster', target='_top')= user.email
              li.list-group-item
                | Phone:&nbsp
                | #{user.phone}
              li.list-group-item
                | Location:&nbsp
                | #{user.loc}
      .col-xs-2
      .col-xs-5
        .photo
          a.thumbnail(href='#')
            img(src=user.photo)
    .row
      .col-xs-12.user-item-list
        span.h3.cap #{user.username}'s
          | Items
        .table-responsive
          table.table.table-hover.user-items
            thead
              th Picture
              th Name
              th Date Added
              th isAvailable?
              th Delete
            tbody
              each item in items
                tr
                  td: a(href='/items/#{item._id}'): img(class='pic-show',src= item.photo)
                  td: a(href='/items/#{item._id}')= item.name
                  td= moment(item.datePosted).format('MM/DD/YYYY')
                  td= item.isAvailable
                  td
                    form(action='/items/#{item._id}', method='POST', onsubmit="return confirm('Are you sure you want to delete item?')")
                      input(type='hidden', name='_method', value='delete')
                      button.alert.btn-danger.btn-mini(type='submit')
                        span.glyphicon.glyphicon-trash
    .row
      h3 Dibs
      .col-xs-12.user-item-list
        span.h3.cap #{user.username}'s
          | Dibs
        .table-responsive
          table.table.table-hover.user-items
            thead
              th Picture
              th Name
              th Seller
              th Your Item
              th Date
            tbody
              each dib in dibs
                tr
                  td: a(href='#{dib.photo}'): img(class='pic-show', src= dib.photo)
                  td: a(href='/items/#{dib.sItem}')= dib.name
                  td: a(href='/users/#{dib.sellerName}')= dib.sellerName
                  td: a(href='/items/#{dib.bItem}')= dib.bName
                  td= moment(dib.date).format('MM/DD/YYYY')
    .row
      h3 Bids
      .col-xs-12.user-item-list
        span.h3.cap Bids
        .table-responsive
          table.table.table-hover.user-items
            thead
              th Picture
              th Name
              th Bidder
              th Their Item
              th Date
            tbody
              each bid in bids
                tr
                  td: a(href='{bid.photo}'): img(class='pic-show', src= bid.photo)
                  td: a(href='/items/#{bid.sItem}')= bid.name
                  td: a(href='/users/#{bid.bidderName}')= bid.bidderName
                  td: a(href='/items/#{bid.bItem}')= bid.bName
                  td= moment(bid.date).format('MM/DD/YYYY')
                  td
                    form(action='/accept/#{bid._id}', method='POST')
                      button.btn.btn-default.btn-mini(type='submit')
                        span.glyphicon.glyphicon-thumbs-up
                  td
                    form(action='/deny/#{bid._id}', method='POST')
                      button.btn.btn-default.btn-mini(type='submit')
                        span.glyphicon.glyphicon-thumbs-down
block scripts
