extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Edit Profile
    .row
      .col-xs-6
        form(role='form', method='post', action='/profile')
          input(type='hidden', name='_method', value='put')
          .form-group
            label(for='name') Username
            input.form-control#username(type='text', name='username', value=user.username, autofocus=true)
          .form-group
            label(for='email') Email
            input.form-control#email(type='email', name='email', value=user.email)
          .form-group
            label(for='Phone') Phone
            input.form-control#phone(type='tel', name='phone', value=user.phone)
          .form-group
            label(for='photo') Photo
            input.form-control#photo(type='text', name='photo', value=user.photo)
          .form-group
            label(for='location[name]') Location
            input#location.form-control(type='text', placeholder='Nashville, TN' ='location[name]', value=user.location.name)
            input#locationLat.form-control(type='hidden', name='location[lat]')
            input#locationLng.form-control(type='hidden', name='location[lng]')
          button.btn.btn-success(type='submit') Edit Profile
      .col-xs-6

block scripts
  script(src='/js/user/edit.js')
