// Private profile view
extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header #{user.username}'s Profile
    .row
      .col-xs-5
        .panel.panel-primary
          .panel-heading
            //- if user._id === client._id
            h3.panel-title: a(href='/profile/edit') Edit Profile
            //- else
              //- h3.panel-title Contact Infomation
          .panel-body
            ul.list-group
              li.list-group-item
                | Email:&nbsp
                | #{user.email}
              li.list-group-item
                | Phone:&nbsp
                | #{user.phone}
              li.list-group-item
                | Location:&nbsp
                | #{user.loc}
      .col-xs-2
      .col-xs-5
        .photo
          a.thumbnail(href='#')
            img(src=user.photo)
    .row
      h3 Items
      .col-xs-12.user-item-list
        span.h3.cap #{user.username}'s
          | Items
        .table-responsive
          table.table.table-hover.user-items
            thead
              th Picture
              th Name
              th Date Added
              th Category
              th Description
              th Tags
              th isAvailable?
              th Remove
            tbody
              each item in items
                tr
                  td: a(href='/items/#{item._id}'): img(class='pic-show',src= item.photo)
                  td: a(href='/items/#{item._id}')= item.name
                  td= moment(item.datePosted).format('MM/DD/YYYY')
                  td= item.category
                  td= item.description
                  td= item.tags.join(', ')
                  td= item.isAvailable
                  //- if user._id === owner._id
                  td
                    form(action='/items/#{item._id}', method='POST', onsubmit="return confirm('Are you sure you want to delete item?')")
                      input(type='hidden', name='_method', value='delete')
                      button.alert.del-but x
block scripts
