// Private profile view
extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header Your Profile
    .row
      .col-xs-5
        .panel.panel-primary
          .panel-heading
            h3.panel-title: a(href='/profile/edit') Edit Profile
          .panel-body
            ul.list-group
              li.list-group-item
                | Email:&nbsp
                | #{user.email}
              li.list-group-item
                | Phone:&nbsp
                | #{user.phone}
              li.list-group-item
                | Location:&nbsp
                | #{user.loc}
      .col-xs-2
      .col-xs-5
        .photo
          a.thumbnail(href='#')
            img(src=user.photo)
    .row
      h3 Items (rob schneider)
      .col-xs-12
        table
          thead
            th name
            th description
            th photo
            th category
            th tags
            th date posted
            th isAvailable?
          tbody
            each item in items
              tr
                td: a(href='items/#{item._id}')= item.name
                td= item.description
                td.photo.thumbnail(style='background-image:url(#{item.photo})')
                td= item.category
                td= item.tags
                td= moment(item.datePosted).format('MM/DD/YYYY')
                td= isAvailable
block scripts
