extends ../shared/template
block content
  h2 Browse da itumz
  #map
  table
    thead
      th name
      th location
      th picture
      th category
      th tags
      th date
    tbody
      each item in items
        tr(data-loc=item.loc, data-lat=item.lat, data-lng=item.lng)
          td= item.name
          td= item.loc
          td.photo.thumbnail(style='background-image:url(#{item.photo})')
          td= item.category
          td= item.tags
          td= moment(item.datePosted).format('MM/DD/YYYY')
block scripts
  script(src='/js/user/browse.js')
