extends ../shared/template
block content
  .container
    #banner.page-header
      .row
        .col-xs-12
          h1#header= item.name
    .row
      .col-xs-6
        .list-group
          .list-group-item.active
            | Details
          .list-group-item
            | Location:&nbsp
            | #{item.loc}
          .list-group-item
            | Date Posted:&nbsp
            | #{item.datePosted}
          .list-group-item
            | Category:&nbsp
            | #{item.category}
          .list-group-item
            | Tags:&nbsp
            | #{item.tags}
          .list-group-item
            | Description:&nbsp
            | #{item.description}
      .col-xs-6
        .row
          .col-xs-12
           img(class='pic-show',src= item.photo)
        if user._id.toString() !== item.ownerId.toString()
          .row
            .col-xs-12
              form(role='form', method='post', action='/items/bid')
                h2.legend Want this item?
                          | Offer an item to trade:
                .form-group
                  input.form-control#sItem(type='hidden' name='sItem' value=item._id)
                  input.form-control#seller(type='hidden' name='seller' value=item.ownerId)
                  input.form-control#bidder(type='hidden' name='bidder' value=user._id)
                  label(for='bItem') Your items for bid
                    select.form-control#bItem(name='bItem')
                      each item in items
                        if item.isAvailable
                          option(value=item._id)= item.name
                button.btn.btn-md.btn-success.btn-block(type='submit') Call Dibs!!!

